NEXT_PUBLIC_APP_NAME=bili-music-app
SEARCH_PROVIDER=bilibili
BILIBILI_SEARCH_TIMEOUT_MS=8000
BILIBILI_SEARCH_LIMIT=20
KERNEL_BASE_URL=http://localhost:8000
KERNEL_REQUEST_TIMEOUT_MS=15000
KERNEL_EXTERNAL_OWNER_ID=local
TRACK_ARTIFACT_TTL_SECONDS=86400
DATABASE_PATH=./data/bili-music-app.sqlite
APP_OWNER_ID=local
APP_LIBRARY_MODE=account
